.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
        display: none;
      }
    .card {
      flex: 0 0 auto;
      padding: 0 1rem;
        &:first-child {
            padding-left:0;
        }
        &:last-child {
            padding-right:0;
        }
      &__image{
          height: 50vh;
      }
    }
  }